#upload-status {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--secondary);
  font-size: 12px;
}

progress {
  width: 100%;
  height: 4px;
  appearance: none;
  border: 0;
  background: var(--face);
}

progress::-webkit-progress-bar {
  background: var(--face);
}

progress::-webkit-progress-value {
  background: var(--secondary);
}

progress::-moz-progress-bar {
  background: var(--secondary);
}
